<h3><%= @user.username %></h3>
<ul>
  <li>Occcupation: <%=@user.occupation %></li>
  <li>Location: </li><%= @user.location %>
  <li><%= @user.bio %></li>
  <li>Age: <%= @user.age %></li>
</ul>


<%= link_to "Left", swipe_left_path(user: @user.id), data: {turbo_method: :post} %>

<%= link_to "Right", swipe_right_path(user: @user.id), data: {turbo_method: :post} %>
