<h3><%= @user.username %></h3>


<ul>
<h2><li><%= @user.username %></li></h2>
<li>Occcupation: <%=@user.occupation %></li>
<li>Location: </li><%= @user.location %>
<li><%= @user.bio %></li>
<li>Age: <%= @user.age %></li>
</ul>

<button>LEFT</button>
<button>RIGHT</button>


<%= link_to "Right", swipe_right_path(user: @user.id), data: {turbo_method: :post} %>
